@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto sans', sans-serif;
}



body{
    overflow-x: hidden;
   
}
.geral{
    display: flex;
    margin-top: 3%;
}
.completed .textoTarefa {
    text-decoration: line-through;
  }
  .search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .keyword-search {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
    height: 30px; /* Ajuste a largura conforme necessário */
  }
  
  .keyword-search:focus {
    outline: none;
    border-color: #5b9dd9;
    box-shadow: 0 0 5px #5b9dd9;
  }
  .fa-search{
  color: #00B2FF;
  }
  .btnAcao3{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border: none;
    border-radius: 10px;
    border: 1px solid ;
    background: white;

    color: white;
    cursor: pointer;
  }

header{
    position: fixed;
    top: 0;
    background-color: #00B2FF;
    width: 100%;
    height: 43px;
    color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
   
   
}

h3{
    justify-content: space-between;
    display: inline;
    margin: 20px;
}
.tarefa{
    width: 100%;
    height: 30px;
    margin-left: 6%;
    margin-top: 2%;
   align-items: center;
    display: flex;
}
.logo{
    margin-left: 10px;
}
.modal-detalhes {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content1 {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.modal-editar {
    display: none;
    position: fixed;
    
    margin-top: 0;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    display: flex;
    align-items: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .botaoSalvar{
    
    width: 10%;
    height: 8vh;
    margin-left: 1%;
    border-radius: 8px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    background-color: #00B2FF;
    cursor: pointer;
    margin-top: 0;
  }
  
.tg{
    width: 100%;
    height: 8vh; 
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-width: 0.5px;
    border-color: #c5c5c5;
    outline: none;
    border-style:double;
    text-transform: uppercase;
    background-color: white;
    cursor: pointer;
}
.tg:hover{
    background-color: #ebebeb;
}

.divleft {
    width: 16%;
    height: 90vh;
    
    
}
.boxleft{
    text-align: center;
    background: #ffffff;
    border-color: #dbdbdb;
    border-style: solid;
    border-top: none;
    border-width: 1px;
    height: 93vh;
}
.divright{
    width: 84%;
    height: 90vh;
    list-style: none;
    display: block;
}

.links{
   margin-top: 20px;
   height: 10px;
}
a{  
    display: block;
    text-decoration: none;
    color: #000000;
}

.user{
    border: none;
    background-color: white;
    
}
.tasks{
    border: none;
    background-color: white;
}
.button{
    width: 70%;
    height: 8vh;
    margin: 25px;
    border-radius: 8px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    background-color: #00B2FF;
    cursor: pointer;
    margin-top: 15%;
}
.btn-login:hover{
    background-color: #01859cfb;
}
.button:hover{
    background-color: #01859cfb;
}
.sobre{
    font-size: 15px;
    margin-top: 62vh;
   
}
.sobre a{ 
    color: #000000;
}
.modal{
    width: 35%;
    height: 60vh;
    display: none;
    margin-top: 50px;
    margin-left: 20%;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #a3a3a3;
    position: absolute;
   
}

.fechar{
    width: 6%;
    height: 25px;
    
    border-radius: 10%;
    float:right;
    color: rgb(207, 207, 207);
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    
}
.tarefas{
    width: 100%;
    
    margin-top: 10px;
   display: block;
   text-align: center;
    
}
.tarefas> h2{
    margin-top: 30px;
}
.tarefas> input{
    
        border-style: double;
        border-width: 2px;
        border-radius: 10px;
        padding: 10px;
        max-width: 100%;
        margin-top: 50px;
        color: black;
        outline: none;
        box-sizing: border-box;
    
}
.tarefas>button{
    
    border-radius: 5px;
    border: none;
    width: 40px;
    height: 40px;
    color: white;
    background-color: #00B2FF;
    cursor: pointer;
    
}
.tarefas>button:hover{
    background:  #01859cfb;
}
#listaTarefa{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  li {
   
    width: 75%;
    margin-top: 10px;
    height: 50px;
   margin-right:auto;
   margin-left: auto;
    border-radius: 0px;
    border-width: 0.5px;
    border-color: #c5c5c5;
    outline: none;
    
    border-style: double;
    
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: white;

  }
  .descricaoTarefa{
    height: 60px;
    width: 40%;
  }
 
  
  li li {
    
    width: fit-content;
    
    box-shadow: none;
  }
  
.btnAcao{
    border-radius: 20px;
    border: 1px solid ;
    background: #00B2FF;
    width: 25px;
    height: 25px;
    color: white;
    cursor: pointer;
}
.btnAcao2{
    border-radius: 20px;
    border: 1px solid ;
    background: rgb(255, 0, 0);
    width: 25px;
    height: 25px;
    color: white;
    cursor: pointer;
}
.b{
    margin-left: 60px;
    max-width: 50%;
    height: 30px;
    text-align: center;
    align-items: center;
    display: flex;
}


.main-login{
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    margin-left: 20px;
    font-size: 3vw;
    color: #493c49;
}

.left-login-image{
    width: 35vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 40px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #a3a3a3;
}

.card-login > h1{
   
    color: #000000;
    font-weight: 800;
    margin: 0;
}

.textfield{
    font-family: 'Noto sans', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: centerf;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #e7e7e7;
    color: #5b595b;
    font-size: 12pt;
    box-shadow: 0px 10px 40px  #c5c5c5;;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #493c49;
    margin-bottom: 10px;
    
}

.btn-login{
   
    width: 100%;
    height: 50px;
    margin: 25px;
    border-radius: 8px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: white;
    background: #00B2FF;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px  #a3a3a3;;
}
.blue{
    color: #00B2FF;
}
.boxcad p {
   font-size: 14px;
   margin-top: -10px;
   margin: 5px;
}
.boxcad{
    text-align: center;
    
}
.cadastre-se {
    color: #00B2FF;
    
    
}
.começar{
    width: 35%;
}
.opcoes{
    width: 35%;
}
.btn-login, .opcoes{
    margin: 10px;

}
.links a{
    color: #000000;
}
a{
    color: white;
}
.container{
    width: 90%;
    height: 95%;
    display: flex;
    position: absolute;
    box-shadow: 5px 5x 10px rgba(0, 0, 0, .212);
}
.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffc9;
    padding: 1rem;
}
.form-image img{
    width: 31rem; 
}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(207, 207, 207, 0.507);
    padding: 3rem;

}
.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button{
    display: flex;
    align-items: center;
}

.login-button button{
    border: none;
    background-color: #00c2ff;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover{
    background-color: #01859cfb;
}

.login-button button a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #00B2FF;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #233053dc;
}

.input-box input:focus-visible{
    outline: 1px solid #6c63ff;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box label,
.gender-title h6{
    font-size: 0.75rem;
    font-weight: 600;
    columns: #000000c0;
}

.gender-group{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0 0.5rem;
}

.gender-input{
    display: flex;
    align-items: flex-start;
}

.gender-input input{
    margin-right: 0.35rem;
}

.gender-input label{
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button{
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #00c2ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover{
    background-color: #01859cfb;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

.gender-inputs{
    display: none;
}

@media(min-width:0px) and (max-width: 480px){
    .container{
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;

    }
    .gender-inputs{
        display: none;
    }
    .form{
        width: 100%;
        font-size: 10px;
        background-color: white;
    }
    .form-image{
        width: 50%;
        height: 50%;
        display: none;
    }
    .textCad{
        width: 50%;
        height: 50%;
        
    }
}
@media(min-width:481px) and (max-width:768px){
    .gender-inputs * label{
        font-size: 12px;
        margin: 2px;
    }

    .textCad * h4{
        font-size: 12px;
        margin: 2px;

    }
.main-login{
        flex-direction: column;
    }

    .input-group{
        width: 50vw;
        height: 50vh;
        overflow-y: scroll;
        justify-content: center;
    }
    .form-header{
        justify-content: center;
    }
    form-image{
        width: 50vw;
        height: 50vh;
    }
    .imagecad{
        width: 20px;
        height: 40%;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 50vw;
    }
    
    .card-login{
        width: 90%;
    }
    /*Página principal*/
    .modal{
        width: 80%;
  }
}

@media(min-width: 769px) and (max-width: 1279px){
    .divleft{
        width: 50%;
        text-align: center;
    }

    /*Página de login
    .card-login{
        width: 85%;
    }
    .container{
        width: 50%;
        height: auto;
    }
    .input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
        font-size: 12px;
    }
    .gender-inputs{
        margin-top: 2rem;
        font-size: 12px;
    }
    .gender-group{
        flex-direction: column;
        font-size: 12px;
    }
    .gender-input{
        margin-top: 0.5rem;
        font-size: 12px;
    }

    /*Página de cadastro*/
    .imagecad{
        width: 80vw;
        height: 80%;
    }
    
    .container{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }
    .label{
        font-size: 20px;
    }
    .input-group * label{
        font-size: 18px;
    }
    .input-group{
        width: 50vw;
        height: 50vh;
        overflow-y: scroll;
        justify-content: center;
    }
    .form-header{
        justify-content: center;
    }
}

@media(min-width:1280px){
    .input-group * label{
        font-size: 24px;
    }
    .gender-inputs * label{
        font-size: 20px;
    }

    .textCad * h4{
        font-size: 24px;
    }
    .textCad > {}
}
