@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto sans', sans-serif;
  
}

body * {   
    box-sizing: border-box;
}
header{
    background-color: #00B2FF;
    width: 100%;
    height: 40px;
    color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
   
   
}
h3{
    justify-content: space-between;
    display: inline;
    margin: 20px;
}

.logo{
    margin-left: 10px;
}
.boxtop{
    width: 15%;
    
    text-align: center;
    
    
    height: 94vh;
    background: #ffffff;
   
    border-color: #dbdbdb;
    border-style: solid;
    border-top: none;
    border-width: 2px;
 
}
.links{
   height: 20px;
}
a{
display: block;
margin: 15px;
text-decoration: none;
color: #000000;
}

.boxtop button{
    width: 70%;
    height: 8vh;
    padding: 16px 0px;
    margin: 25px;
    border-radius: 8px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    background: #00B2FF;
    cursor: pointer;
    
    margin-top: 15%;
}
.sobre{

    margin-top: 65vh;
}
.sobre a{ color: #00B2FF;}
.main-login{
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    margin-left: 20px;
    font-size: 3vw;
    color: #493c49;
}

.left-login-image{
    width: 35vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 40px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #a3a3a3;
}

.card-login > h1{
   
    color: #000000;
    font-weight: 800;
    margin: 0;
}

.textfield{
    font-family: 'Noto sans', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: centerf;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #e7e7e7;
    color: #5b595b;
    font-size: 12pt;
    box-shadow: 0px 10px 40px  #c5c5c5;;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #493c49;
    margin-bottom: 10px;
    
}

.btn-login{
   
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border-radius: 8px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: white;
    background: #00B2FF;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px  #a3a3a3;;
}
.blue{
    color: #00B2FF;
}
.boxcad p {
   font-size: 14px;
   margin-top: -10px;
   margin: 5px;
}
.boxcad{
    text-align: center;
    
}
.cadastre-se {
    color: #00B2FF;
    cursor: pointer;
    
}
.começar{
    width: 35%;
}
.opcoes{
    width: 35%;
}
.btn-login, .opcoes{
    margin: 10px;

}


@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }

    .left-login > h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 50vw;
    }
    
    .card-login{
        width: 90%;
    }
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}
